
.section {

  .question {
    float: left;
  }

  .answer {
    float: right;
  }

  .qna {
    min-height: 2em;
  }
}

.gage {
    width: 250px;
    height: 200px;
    display: inline-block;
}

.gagues {
  text-align: center;
}
