<div class="section" ng-repeat="section in sections">

  <h1>{{section}}</h1>

  <div class="qna" ng-repeat="question in questionGroups[section]">

    <div class="question">{{question.body}}</div>

    <div class="answer">

        <span ng-repeat="answer in question.answerOptions | orderBy:score ">
          <input type="radio"
                 ng-model="question.userAnswer"
                 ng-value="answer.score"
                 name="{{question.body | toSnakeCase }}">
            {{answer.text}}
          </input>
        </span>

    </div>

  </div>

  <div class="results">Results:
    <span ng-bind="userScoresPerCategory[section].score"></span> /
    <span ng-bind="fullScoresPerCategory[section].score"></span>
  </div>

</div>

<h1>Grand Total</h1>
<p></p>
