<div ng-repeat="section in sections">

  <h1>{{section}}</h1>

  <div ng-repeat="question in questionGroups[section]">
    <span>{{question.body}}</span>

    <span ng-repeat="(answerText, answerScore) in question.answerOptions">
      <input type="radio"
             ng-model="question.userAnswer"
             ng-value="answerScore"
             name="{{question.body | toSnakeCase }}">
        {{answerText}}
      </input>
    </span>

  </div>

</div>

<button ng-click="generateReport()">Report</button>
